<%= form_with model: task do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% task.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %><br>
    <% task.errors.full_messages_for(:description).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :state %><br>
    <%= form.select :state, %w[Backlog In-progress Done]%>
    <% task.errors.full_messages_for(:state).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :deadline %><br>
    <%= form.text_field :deadline, data: { controller: "flatpickr" } %>
    <% task.errors.full_messages_for(:deadline).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
<%= link_to 'Back', tasks_path %>
