<%= button_to "logout", destroy_user_session_path, method: :delete  %>
<h1>Tasks</h1>

<%= link_to 'New Task', new_task_path %>

<ul>
  <% if @tasks.present? %>
    <% @tasks.each do |task| %>
      <li>
        <%= link_to task.title, task %>
        (<%= task.state %>)
        <%= link_to 'Edit', edit_task_path(task) %> |
        <%= link_to "Destroy", task_path(task), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
      </li>
    <% end %>
  <% end %>
</ul>
